
{% extends "layout.html" %}

{% block pageTitle %}
  Pensionwise pensions options course
{% endblock %}

{% block content %}

<div class="govuk-width-container">


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<!-- content -->

<h1 id="book-a-free-pension-wise-appointment">Book a free Pension Wise appointment</h1>

<h2 class=govuk-heading-l"> Learn your pensions options your own way</h2>

<div class="govuk-inset-text">
All the information you’ll get in an appointment has been collated here and brought together to
help you learn about your pension options at a time, place and pace most convenient for you.
You can start and stop any time and if you get stuck or need to ask a question you can always
give us a call or use our live chat service.
</div>

<a href="service-start" <button type="submit" class="govuk-button">
  Start the online pension options course
</button></a>

<h2 class=govuk-heading-l"> Alternatively, book an appointment</h2>

<p>An appointment is a conversation with a pension specialist. You’ll talk about the options you have for taking your pension money.</p>

<p>Your appointment will last around 45 to 60 minutes and we will:</p>

<ol class="govuk-list govuk-list--number">
 <li>explain your pension options</li>
 <li>explain how each option is taxed</li>
 <li>give you next steps to take</li>
</ol>

<p>You can speak to us over the phone or face to face somewhere local to you.</p>

<h2 id="before-you-book">Before you book</h2>

<p>You should be aged <strong>50 or over</strong> and have a <strong>defined contribution</strong> pension (not a final salary or career average pension).</p>

<p><a href="#">Not sure what pension type you have?</a></p>

<p><a href="#" class="button" id="phone-button" style="font-size: 0.9em; padding-left: 2em; padding-right: 2em;">Book a phone appointment</a>
<a href="#" class="button" id="face-to-face-button" style="font-size: 0.9em;">Book a face-to-face appointment</a></p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Our guidance is impartial – we won’t recommend any products or companies and won’t tell you how to invest your money.</p>
</div>

<div role="note" aria-label="Single Financial Guidance Body Note" class="application-notice info-notice">
 <p>
   From 1st January 2019, the services currently delivered by Pension Wise, The
   Money Advice Service and The Pensions Advisory Service will be delivered by the
   <a href="https://www.gov.uk/government/organisations/single-financial-guidance-body">Single Financial Guidance Body</a>. In order to maintain the high levels of
   service we will be transferring all customer records over to the new body.
 </p>
 <p>
   If you would like more information on how your data is processed please see our
   <a href="#">privacy policy</a> or contact <a href="mailto:contact@pensionwise.gov.uk">contact@pensionwise.gov.uk</a>. Your data privacy rights
   will not be affected and further details can be found at
   <a href="https://ico.org.uk/your-data-matters/">https://ico.org.uk/your-data-matters</a>
 </p>
</div>









<!-- content ends-->
      </div>
    </div>

  </main>
</div>




{% endblock %}
