
{% extends "layout.html" %}

{% block pageTitle %}
  Pensionwise pensions options course
{% endblock %}

{% block content %}

<div class="govuk-width-container">


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Session ended</h1>
        <p class="govuk-body">We've sent you a link to resume the session in your email, you can come back at anytime using that link</p>

        <a href="step-page"> <button type="submit" class="govuk-button">
          Return to pension options
        </button></a>

        <a href="#" <button type="submit" class="govuk-button">
  close tab
</button></a>




      </div>
    </div>

  </main>
</div>




{% endblock %}
