
{% extends "layout.html" %}

{% block pageTitle %}
  Pensionwise pensions options course
{% endblock %}

{% block content %}

<div class="govuk-width-container">


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<!-- content -->

        <h1 class="govuk-heading-xl">Welcome to the pension options course</h1>
        <h3 class="govuk-heading-m"> Learn your pensions options your own way<h3>

<p class="govuk-body">All the information you’ll get in an appointment
has been collated here and brought together to
help you learn about your pension options at a
time, place and pace most convenient for you.</p>



<iframe width="620" height="380" src="https://www.youtube.com/embed/cUTLQp--MDE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<br>
<br>
<h3 class="govuk-heading-m"> How it works</h3>

<p> You can start and stop any time and if you get stuck or need to ask a question you can always give
us a call or use our live chat service.</p>
<p>There are videos as well as text which cover the same information so you can choose which ever
way feels most comfortable for you.</p>

<h3 class="govuk-heading-m"> What you need to start</h3>
<p>It will take you around 60 minutes to go through all the information, but you can go at your own
pace so it could take more or less time.</p>
<p>To make the most of this course, it will help if you have these things to hand, but it’s not obligatory:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>Your current defined contribution pot size and information from your pension provider</li>
    <li>A statement showing ho wmuch state pension you’re expecting to get</li>
    <li>An overview of any other sources of income you may have in retirement</li>
</ul>

<p>We recommend that you take the time to understand all the options before making a
decision to ensure you don’t end up paying more tax than needed.</p>


<br>
<br>
        <a href="step-page" role="button" draggable="false" class="govuk-button govuk-button--start">
  Start your appointment
</a>




<!-- content ends-->
      </div>
    </div>

  </main>
</div>




{% endblock %}
